body {
    margin: 0px;
    font-family:'Raleway', sans-serif;
    font-size: 2rem;
}

header {
    background-color: mistyrose;
    /* min-height: 100vh; */
    /* this is to fill the whole device in it's entirety */

}
nav {
    background-color:grey ;
    position: fixed;
    width: 100%;
    /* it will be 100% of the container value */
}

ul a {
    color:white;
    text-decoration:none;
    font-size: .5rem;
}

nav li {
    display:inline-block;
    color: white;
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}

header main {
    padding-top:6rem;
    font-size: 1.5rem;
    text-align: center;
}

header img  {
    width: 30%;

}
header h1 {
    text-transform: uppercase;
    letter-spacing:5px;
}
.about-me{
    padding:1.5rem 5%;
    line-height: 2;
    background-color: darkgrey;

}
.projects{
    padding:1.5rem 5%;
    background-color: lightgray;
}

.projects img {
    width: 32%;
    padding: 20px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}